# Data Transformation

This jupyter notebook contains open source code for transforming a data from the Australian Bureau of Statistics (ABS). The data “Commuting Distance by Personal Characteristics” is originally from “2071.0.55.001 - Census of Population and Housing: Commuting to Work - More Stories from the Census”  collection [1] by the ABS. This data collection includes an analysis of the commuting distance in Australia. The ABS (https://www.abs.gov.au) is a national statistical agency in Australia, and provides a wide range of statistical data collections on economic, population, environmental, and social issues. 

**2071.0.55.001 - Commuting Distance by Personal Characteristics**: the data provides a measurement of the distance travelled between people' residence and place to work [1]. This data collection explores the commuting distance data in association with personal characteristics. Therefore, each table in the collection has results of analysis commuting distance by age, sex, occupation, industry, income, education and mode of transport.

The data is available at (https://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/2071.0.55.0012016?OpenDocument)

## Import library

In [1]:
import pandas as pd

In [2]:
input_file = '2071055001 - commuting distance by personal characteristics.xls'
output_file = 'generated_data/transformed_data.xlsx'
writer = pd.ExcelWriter(output_file, engine = 'xlsxwriter')

## Read and transform data 

### Commuting distance by Age

In [3]:
# read a table
df1 = pd.read_excel(input_file, sheet_name = 'Table 1', skiprows=5, header=0)
 # drop rows where it contains meaningless values
df1 = df1.dropna(subset=['Australian Statistical Geography Standard (ASGS) Code'], how='all')
# extract data
extracted_df1 = pd.DataFrame(columns=['Australian Statistical Geography Standard (ASGS) Description'])
defined_columns = ['Australian Statistical Geography Standard (ASGS) Description', 
                   'Age group (AGEP)',
                   'Average commuting distance \n(kilometres)']
defined_geography = ['Australia']
df1 = df1[defined_columns] # extract data by columns

for index, row in df1.iterrows():
    if row['Australian Statistical Geography Standard (ASGS) Description'] in defined_geography:
        extracted_df1 = extracted_df1.append(row)

# save the data as excel file
extracted_df1.to_excel(writer, sheet_name = 'age')
extracted_df1

,Australian Statistical Geography Standard (ASGS) Description,Age group (AGEP),Average commuting distance \n(kilometres)
0,Australia,15-19 years,11.27
1,Australia,20-29 years,15.96
2,Australia,30-39 years,16.59
3,Australia,40-49 years,16.50
4,Australia,50-59 years,16.42
5,Australia,60-69 years,15.37
6,Australia,70-79 years,13.18
7,Australia,80-84 years,13.47
8,Australia,85 years and over,14.21
9,Australia,Total,15.98

As you can see from the above table, the average commuting distance by age group, age group (30-39 years) has the greatest average commuting distance (16.59km) following by the age group (50-59 years) (16.42km). The average commuting distance of total population in Australia is 15.98km in 2016.

### Commuting distance by State and territory

In [4]:
extracted_df1_2 = pd.DataFrame(columns=['Australian Statistical Geography Standard (ASGS) Description'])
defined_columns = ['Australian Statistical Geography Standard (ASGS) Description', 
                   'Age group (AGEP)',
                   'Average commuting distance \n(kilometres)']
geography_groups = ['New South Wales',
                   'Victoria',
                   'Queensland',
                   'South Australia',
                   'Western Australia',
                   'Tasmania',
                   'Northern Territory',
                   'Australian Capital Territory']
df1 = df1[defined_columns] # extract data by columns
for index, row in df1.iterrows():
    if row['Australian Statistical Geography Standard (ASGS) Description'] in geography_groups:
        if row['Age group (AGEP)'] == 'Total':
            extracted_df1_2 = extracted_df1_2.append(row) 
extracted_df1_2 = extracted_df1_2.drop_duplicates(subset=['Australian Statistical Geography Standard (ASGS) Description', 'Age group (AGEP)'])

# save the data as excel file
extracted_df1_2.to_excel(writer, sheet_name = 'state_and_territory')
extracted_df1_2

,Australian Statistical Geography Standard (ASGS) Description,Age group (AGEP),Average commuting distance \n(kilometres)
91,New South Wales,Total,16.27
92,Victoria,Total,16.17
93,Queensland,Total,16.60
94,South Australia,Total,13.76
95,Western Australia,Total,16.17
96,Tasmania,Total,14.73
97,Northern Territory,Total,13.97
98,Australian Capital Territory,Total,11.75

People living in QLD have the greatest average commuting distance (16.6km) while people living in the ACT have the lowest average commuting distance (11.75km) in 2016.

### Commuting distance by Sex

In [5]:
df2 = pd.read_excel(input_file, sheet_name = 'Table 2', skiprows=5, header=0)
df2 = df2.dropna(subset=['Australian Statistical Geography Standard (ASGS) Code'], how='all') # drop rows where it contains meaningless values

extracted_df2 = pd.DataFrame(columns=['Australian Statistical Geography Standard (ASGS) Description'])
defined_columns = ['Australian Statistical Geography Standard (ASGS) Description', 
                   'Sex (SEXP)',
                   'Average commuting distance \n(kilometres)']
geography_group = ['Australia']
df2 = df2[defined_columns] # extract data by columns

for index, row in df2.iterrows():
    if row['Australian Statistical Geography Standard (ASGS) Description'] == 'Australia':
        extracted_df2 = extracted_df2.append(row) 
        
# save the data as excel file
extracted_df2.to_excel(writer, sheet_name = 'sex')
extracted_df2

,Australian Statistical Geography Standard (ASGS) Description,Average commuting distance \n(kilometres),Sex (SEXP)
0,Australia,14.24,Female
1,Australia,17.66,Male
2,Australia,15.98,Total

Male (17.66km) have higher average commuting distance than female (14.24km)

### Commuting distance by Occupation

In [6]:
df3 = pd.read_excel(input_file, sheet_name = 'Table 3', skiprows=5, header=0)
df3 = df3.dropna(subset=['Australian Statistical Geography Standard (ASGS) Code'], how='all') # drop rows where it contains meaningless values
extracted_df3 = pd.DataFrame(columns=['Australian Statistical Geography Standard (ASGS) Description'])
defined_columns = ['Australian Statistical Geography Standard (ASGS) Description', 
                   'Occupation (OCCP)',
                   'Average commuting distance \n(kilometres)']
geography_group = ['Australia']
df3 = df3[defined_columns] # extract data by columns

for index, row in df3.iterrows():
    if row['Australian Statistical Geography Standard (ASGS) Description'] == 'Australia':
        extracted_df3 = extracted_df3.append(row) 

# save the data as excel file
extracted_df3.to_excel(writer, sheet_name = 'occupation')
extracted_df3

,Australian Statistical Geography Standard (ASGS) Description,Average commuting distance \n(kilometres),Occupation (OCCP)
0,Australia,16.70,Managers
1,Australia,15.63,Professionals
2,Australia,18.22,Technicians and Trades Workers
3,Australia,14.22,Community and Personal Service Workers
4,Australia,15.52,Clerical and Administrative Workers
5,Australia,12.58,Sales Workers
6,Australia,21.07,Machinery Operators and Drivers
7,Australia,15.67,Labourers
8,Australia,15.96,Total

Among the variety of occupation, "Machinery operators and Drivers" have the highest average commuting distance (21.07km) following by "Techinicians and trades workers" (18.22km).

### Commuting distance by Industry

In [7]:
df4 = pd.read_excel(input_file, sheet_name = 'Table 4', skiprows=5, header=0)
df4 = df4.dropna(subset=['Australian Statistical Geography Standard (ASGS) Code'], how='all') # drop rows where it contains meaningless values
extracted_df4 = pd.DataFrame(columns=['Australian Statistical Geography Standard (ASGS) Description'])
defined_columns = ['Australian Statistical Geography Standard (ASGS) Description', 
                   'Industry (INDP)',
                   'Average commuting distance \n(kilometres)']
geography_group = ['Australia']
df4 = df4[defined_columns] # extract data by columns

for index, row in df4.iterrows():
    if row['Australian Statistical Geography Standard (ASGS) Description'] == 'Australia':
        extracted_df4 = extracted_df4.append(row) 
        
# save the data as excel file
extracted_df3.to_excel(writer, sheet_name = 'industry')
extracted_df4

,Australian Statistical Geography Standard (ASGS) Description,Average commuting distance \n(kilometres),Industry (INDP)
0,Australia,21.09,"Agriculture, Forestry and Fishing"
1,Australia,40.27,Mining
2,Australia,18.37,Manufacturing
3,Australia,21.34,"Electricity, Gas, Water and Waste Services"
4,Australia,18.49,Construction
5,Australia,17.93,Wholesale Trade
6,Australia,12.94,Retail Trade
7,Australia,11.41,Accommodation and Food Services
8,Australia,18.91,"Transport, Postal and Warehousing"
9,Australia,16.33,Information Media and Telecommunications
10,Australia,16.80,Financial and Insurance Services
11,Australia,13.29,"Rental, Hiring and Real Estate Services"
12,Australia,13.78,"Professional, Scientific and Technical Services"
13,Australia,14.66,Administrative and Support Services
14,Australia,18.75,Public Administration and Safety
15,Australia,14.74,Education and Training
16,Australia,14.89,Health Care and Social Assistance
17,Australia,14.34,Arts and Recreation Services
18,Australia,13.95,Other Services
19,Australia,16.35,Inadequately described/Not stated
20,Australia,15.98,Total

In industry perspective, the"Mining" industry has an outstanding record in terms of the average commuting distance (40.27km).

### Commuting distance by Income

In [8]:
df5 = pd.read_excel(input_file, sheet_name = 'Table 5', skiprows=5, header=0)
df5 = df5.dropna(subset=['Australian Statistical Geography Standard (ASGS) Code'], how='all') # drop rows where it contains meaningless values
extracted_df5 = pd.DataFrame(columns=['Australian Statistical Geography Standard (ASGS) Description'])
defined_columns = ['Australian Statistical Geography Standard (ASGS) Description', 
                   'Weekly Income (INCP)',
                   'Average commuting distance \n(kilometres)']
geography_group = ['Australia']
df5 = df5[defined_columns] # extract data by columns

for index, row in df5.iterrows():
    if row['Australian Statistical Geography Standard (ASGS) Description'] == 'Australia':
        extracted_df5 = extracted_df5.append(row) 
# save the data as excel file
extracted_df3.to_excel(writer, sheet_name = 'income')
extracted_df5

,Australian Statistical Geography Standard (ASGS) Description,Average commuting distance \n(kilometres),Weekly Income (INCP)
0,Australia,14.03,Negative income
1,Australia,12.96,Nil income
2,Australia,9.63,"$1-$149 ($1-$7,799)"
3,Australia,11.63,"$150-$299 ($7,800-$15,599)"
4,Australia,12.27,"$300-$399 ($15,600-$20,799)"
5,Australia,12.88,"$400-$499 ($20,800-$25,999)"
6,Australia,13.64,"$500-$649 ($26,000-$33,799)"
7,Australia,14.64,"$650-$799 ($33,800-$41,599)"
8,Australia,15.84,"$800-$999 ($41,600-$51,999)"
9,Australia,16.95,"$1,000-$1,249 ($52,000-$64,999)"
10,Australia,17.82,"$1,250-$1,499 ($65,000-$77,999)"
11,Australia,18.18,"$1,500-$1,749 ($78,000-$90,999)"
12,Australia,19.01,"$1,750-$1,999 ($91,000-$103,999)"
13,Australia,20.01,"$2,000-$2,999 ($104,000-$155,999)"
14,Australia,17.60,"$3,000 or more ($156,000 or more)"
15,Australia,16.62,Not stated
16,Australia,15.98,Total

As you can see from the above table, there is a positive relationship between "weekly income" and "average commuting distance". The average commuting distance increase while the weekly income increases except for weekly income of 3,000 or more.

### Commuting distance by education attainment

In [9]:
df6 = pd.read_excel(input_file, sheet_name = 'Table 6', skiprows=5, header=0)
df6 = df6.dropna(subset=['Australian Statistical Geography Standard (ASGS) Code'], how='all') # drop rows where it contains meaningless values
extracted_df6 = pd.DataFrame(columns=['Australian Statistical Geography Standard (ASGS) Description'])
defined_columns = ['Australian Statistical Geography Standard (ASGS) Description', 
                   'Level of Highest Educational Attainment (HEAP)',
                   'Average commuting distance \n(kilometres)']
geography_group = ['Australia']
df6 = df6[defined_columns] # extract data by columns

for index, row in df6.iterrows():
    if row['Australian Statistical Geography Standard (ASGS) Description'] == 'Australia':
        extracted_df6 = extracted_df6.append(row) 
# save the data as excel file
extracted_df3.to_excel(writer, sheet_name = 'education')
extracted_df6

,Australian Statistical Geography Standard (ASGS) Description,Average commuting distance \n(kilometres),Level of Highest Educational Attainment (HEAP)
0,Australia,15.29,Postgraduate Degree Level
1,Australia,15.53,Graduate Diploma and Graduate Certificate Level
2,Australia,15.26,Bachelor Degree Level
3,Australia,16.34,Advanced Diploma and Diploma Level
4,Australia,17.99,Certificate III & IV Level
5,Australia,15.36,Secondary Education - Years 10 and above
6,Australia,16.14,Certificate I & II Level
7,Australia,15.16,Secondary Education - Years 9 and below
8,Australia,15.97,Total

The "Level of Highest Education Attainment" variable seems to have no correlation with the average commuting distance. The highest average commuting distance was found in "Certification III & IV Level" (17.99km).

## Save transformed data

In [10]:
# save retuls
writer.save()
writer.close()

## Conclusion

In this Jupyter notebook, we demonstrated how to transform a dataset by using python code. Data "2071.0.55.001 - Census of Population and Housing: Commuting to Work - More Stories from the Census, Commuting Distance by Personal Characteristics" contains information about Australian commuting distances in 2016 by personal characteristics. We use Python code to extract six data tables from the data collection that; each table shows a measurement of commuting distance by different unique features such as age, income, occupation, and industry. The transformed file has been saved as an excel file.

## References

[1] Australian Bureau of Statistics, 2071.0.55.001 - Census of Population and Housing: Commuting to Work - More Stories from the Census, Commuting Distance by Personal Characteristics, Australian Bureau of Statistics, 2018. [Dataset] Available: https://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/2071.0.55.0012016?OpenDocument.
[Accessed: January 4, 2021].